@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

body{
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

form{
    text-align: center;
    margin-bottom: 5px;
}


.site-navigation{
    max-width: 100%;
    line-height: 75px;
    background-color: #4287f5;

}


.titlebar{
    padding-left: 20px;
    line-height: 75px;
    float: left;
    background-color: #4287f5;
}


.navitm {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 20px;

}

.navitm:focus{
    outline:0;
}


.navitm:hover {
    background-color: #4287f5;
}

.site-navigation a{
    text-decoration: none;
}

.site-navigation a:hover{
    color: black;
}

.site-jumbotron{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    /* background-color: red; */
    clear: both;
}


.footer{
    margin-left: 50px;
    max-width: 100%;
    background-color: black;
    line-height: 50px;
    margin-right: 50px;
    color: white;
    text-align: center;
    clear:both;

    margin-top: 250px;
}

.footer a{
    color: lightgray;
    text-decoration: none;
}

.footer a:hover{
    color: darkgray;
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input, select, option {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;

}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;

}


input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.itmName{
    width: 90%;
    text-align:  center;
}

.posView{
    max-width: 1200px;
    min-width: 600px;

    margin: auto;
    padding: 10px;
}

.posView .invoice-table{
    margin: auto;
    width: 100%;
}

.posView .totalView{
    margin-top: 5px;
    float:right;
    text-align:right;
}

h1, h2, h3{
    margin-bottom: 0;
    margin-top: 0;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.resetForm{
    all: initial;
}