.bg-okstate{
    background-color: #FF7300;
}

.footer{
    border-top: solid lightgray 1px;
    max-width: 500px;
    margin: auto;
    margin-top:50px;
    text-align: center;
    padding: 5px;
}
.totalView{
    margin-top: 5px;
    float:right;
    text-align:right;
}

.btn-okstate {
    color: #FFFFFF;
    background-color: #FF7300;
    border-color: #FF7300;
}

.btn-okstate:hover,
.btn-okstate:focus,
.btn-okstate:active,
.btn-okstate.active,
.open .dropdown-toggle.btn-okstate {
    color: #FFFFFF;
    background-color: #FF7300;
    border-color: #FF7300;
}

.btn-okstate:active,
.btn-okstate.active,
.open .dropdown-toggle.btn-okstate {
    background-image: none;
}

.btn-okstate.disabled,
.btn-okstate[disabled],
fieldset[disabled] .btn-okstate,
.btn-okstate.disabled:hover,
.btn-okstate[disabled]:hover,
fieldset[disabled] .btn-okstate:hover,
.btn-okstate.disabled:focus,
.btn-okstate[disabled]:focus,
fieldset[disabled] .btn-okstate:focus,
.btn-okstate.disabled:active,
.btn-okstate[disabled]:active,
fieldset[disabled] .btn-okstate:active,
.btn-okstate.disabled.active,
.btn-okstate[disabled].active,
fieldset[disabled] .btn-okstate.active {
    background-color: #FF7300;
    border-color: #FF7300;
}

.btn-okstate .badge {
    color: #FF7300;
    background-color: #FFFFFF;
}