<!DOCTYPE HTML>
<html>
<head>
    <title>{{ Modular.APP_NAME }}</title>
    <base href="{{ Modular.APP_BASE_URL }}" target="_blank">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/coreauth.js"></script>

    <script src="static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap-login.css">
</head>
<body class="text-center">
<form class="form-signin" method="post" onsubmit='login();return false;'>
    <!-- <img class="mb-4" src="static/img/logo.png" alt="" width="172"><br/> -->
    <h1 class="h3 mb-3 font-weight-normal"> {{ Modular.APP_NAME }}</h1>
    <span style="text-align: left;" id="errView"></span>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="username" name="username"  class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>


    <button class="form-control btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <!-- <a target="_self" href="./Register" class="form-control btn btn-lg btn-success btn-block">Create Account</a> -->
    <p class="mt-5 mb-3 text-muted text-center">Powered by CoreAuth</p>
</form>
</body>
</html>